<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandy Learnings</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>

<nav>
    <div class="logo">
        <a href="/">Sandy Learnings</a>
    </div>
    
    <!-- Mobile menu toggle -->
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="menu-icon">&#9776;</label>

    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/students">CRUD</a></li>
        <li><a href="/cafe-booking">Cafe Booking</a></li>
    </ul>
    
</nav>

<header class="dashboard-header">
  <h1>Sandy Learnings</h1>
</header>

<main style="padding: 30px; max-width: 1200px; margin: 0 auto;">
    {% block content %}{% endblock %}
</main>

<footer style="text-align:center; padding:15px; background:#00ADB5; margin: top 100%;; font-size:0.9rem;">
    &copy; {{ current_year or "2025" }} My Dashboard. All rights reserved.
</footer>
</body>
</html>
